body {
  background-image: url("../img/seigaiha.png");
  background-repeat: repeat;
}

nav {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

h3 {
  margin-top: 0 !important;
}

.container {
  max-width: 1000px;
}

.index-container {
  background-color: #fff;
}

.index-text {
  padding: 0 15px;
}

.intro {
  padding-bottom: 20px;
}

.about-box {
  padding: 0 15px 15px 15px;
}

.center {
  display: block;
  margin: auto;
}

.img-circle {
  border-radius: 50%;
}

.footer-icons {
  float: right;
  padding-bottom: 18px;
}

.footer-icon {
  margin-right: 10px;
}

.footer-github-icon {
  max-height: 30px;
}

.mobile-container {
  padding: 0 15px 0 15px;
}

.app {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
}

.description {
  margin-bottom: 14px;
}

.mobile-img {
  margin-bottom: 4px;
}

.web-img {
  border: 1px black solid;
}

.technologies {
  font-style: italic;
}

.github-logo {
  height: 18px;
}

.play-icon {
  height: 48px;
}

.to-top {
  float: right;
  margin-bottom: 18px;
}

.contact-container {
  background-color: #fff;
  height: 100vh;
}

.contact-icons {
  max-width: 100px;
  display: block;
  margin: auto;
}

#name {
  font-size: 62px;
}

#job-title {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

#heroku-link {
  margin-left: 32px;
}

#message-text {
  margin-top: 0 !important;
  padding-top: 20px;
}

#email-icon {
  display: block;
  margin: auto;
  max-width: 90px;
}

@media only screen and (min-width: 990px) {
  .about-box {
    padding: 0 45px 15px 45px;
  }
  #name {
    font-size: 68px;
  }
  #job-title {
    font-size: 36px;
  }
  #message-text {
    font-size: 22px;
  }
}
