body {
  padding-bottom: 5%;
  background-image: url("../img/seigaiha.png");
  background-repeat: repeat;
}

nav {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.intro {
  padding-bottom: 20px;
}

.container {
  max-width: 1000px;
}

.index-text {
  padding-left: 15px;
}

.center {
  display: block;
  margin: auto;
}

.img-circle {
  border-radius: 50%;
}

.category-title {
  text-align: center;
}

.mobile-container {
  padding: 0 15px 0 15px;
}

.app {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
}

.web-img {
  border: 1px black solid;
}

.technologies {
  font-style: italic;
}

.resume {
  padding-left: 2%;
  padding-right: 2%;
}

#name {
  font-size: 80px;
}

#job-title {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  #job-title {
    font-size: 54px;
  }
}
